<div class="digits-wrap">
    <seven-seg class="digits green-digits  minutes" [digits]="2" [decimalPlaces]="0" [value]="clock.minutes">
    </seven-seg>

    <div [class.blink]="hideDelimeter" class="delimeter colon">:</div>

    <seven-seg class="digits green-digits  seconds" [digits]="2" [decimalPlaces]="0" [value]="clock.seconds">
    </seven-seg>

    <div [class.blink]="hideDelimeter" class="delimeter decimal-point">.</div>

    <seven-seg class="digits green-digits miliseconds" [digits]="2" [decimalPlaces]="0" [value]="clock.miliseconds">
    </seven-seg>
</div>