.container {
  height: 165px;

  .screen {
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: inset 0px 0px 2px 1px #000000;
    box-shadow: inset 0px 0px 2px 1px #000000;
  }
  .buttons {
    height: 50px;
    display: flex;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background: white;

    .button {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border: 1px solid gray;
      //outline: 1px solid gray;

      &:active,
      &:focus {
        outline: none;
        border: 1px solid #567bb6;
      }
      &:first-of-type {
        border-bottom-left-radius: 8px;
      }
      &:last-of-type {
        border-bottom-right-radius: 8px;
      }
    }

    .play {
      flex: 3;
    }

    .tick {
      flex: 1;
    }
    .delete {
      flex: 1;
    }
  }
}
