<div class="duo-display">

    <div class="display" [ngClass]="'number'+num1" style="margin-right:4px;">
        <div class="segment A"></div>
        <div class="segment B"></div>
        <div class="segment C"></div>
        <div class="segment D"></div>
        <div class="segment E"></div>
        <div class="segment F"></div>
        <div class="segment G"></div>
    </div>

    <div class="display" [ngClass]="'number'+num2">
        <div class="segment A"></div>
        <div class="segment B"></div>
        <div class="segment C"></div>
        <div class="segment D"></div>
        <div class="segment E"></div>
        <div class="segment F"></div>
        <div class="segment G"></div>
    </div>

</div>